In [1]:
import pandas as pd

In [15]:

class data(object):
    
    def __init__(self, df, smiles_col, target_cols, task_name, task_type, description):
                
        assert type(target_cols) == list

        self.data = df
        self.x = df[smiles_col].values        
        self.y = df[target_cols].values.astype(float)
        self.y_cols = target_cols
        self.task_name = task_name
        self.task_type = task_type
        self.description = description
        self.n_samples = len(df)
        
        print('total samples: %s' % self.n_samples)

In [16]:
def load_CYP450():
    task_name = 'CYP450'
    task_type = 'classification'
    description = """The CYP450 dataset contains 16896 compounds against of five main CYP450 isozymes: 1A2, 2C9, 2C19, 2D6, and 3A4. This data should split training and test set by aids"""
    filename = '../CYP450/CYP450.csv.gz'
    df = pd.read_csv(filename)
    target_cols = ['label_1a2', 'label_2c9', 'label_2c19', 'label_2d6', 'label_3a4']
    smiles_col = 'smiles'
    return data(df, smiles_col, target_cols, task_name, task_type, description)

In [17]:
data = load_CYP450()

total samples: 16896

In [19]:
data.data

,Unnamed: 0,SID,group,label_1a2,label_2c19,label_2c9,label_2d6,label_3a4,smiles
0,0,842250,training set,1.0,NaN,NaN,NaN,1.0,Fc1ccc(Cn2nnnc2CN(Cc3cc4c(nc3O)cc5OCOc5c4)CCCO...
1,1,842319,training set,1.0,NaN,1.0,0.0,NaN,S1/C(=C\2/c3c(N(C2=O)CC)cccc3)/C(=O)N(C1=S)CCCOC
2,2,842584,training set,1.0,1.0,NaN,NaN,NaN,Clc1c(-c2nc([nH]n2)-c3ccccc3)cccc1
3,3,842618,training set,NaN,1.0,1.0,NaN,1.0,O(c1c(C(N2CCN(CC2)Cc3ccncc3)c4n(nnn4)C(C)(C)C)...
4,4,842697,training set,1.0,1.0,NaN,NaN,NaN,O(c1c(CNC(=O)Cn2nc(nn2)-c3ccncc3)cccc1)C
...,...,...,...,...,...,...,...,...,...
16891,16891,26754442,test set,NaN,NaN,NaN,NaN,0.0,s1c(C(=O)/C=C/c2ccccc2)ccc1
16892,16892,26754443,test set,NaN,NaN,NaN,NaN,0.0,s1c(C(=O)/C=C/c2ccc(OCc3ccccc3)cc2)ccc1
16893,16893,26754444,test set,NaN,NaN,NaN,NaN,0.0,s1c(C(=O)/C=C/c2ccc(OCC)cc2)ccc1
16894,16894,26754448,test set,NaN,NaN,NaN,NaN,0.0,Clc1cc2nc([nH]c2cc1)-c3ccc(NC(=O)C)cc3
16895,16895,26754450,test set,NaN,NaN,NaN,NaN,0.0,O(c1cc2c(nc(cc2N)C)cc1)CCOc3cc4c(nc(cc4N)C)cc3